openapi: "3.1.0"
info:
  title: imajin coffee
  version: "1.0.0"
  description: >
    Tip pages and one-time or recurring support payments via Stripe Checkout and Solana.
    A standalone third-party app on Imajin (ima-jin/coffee): authenticated routes accept a
    scoped app token (`Authorization: Bearer`, minted by the kernel for this app's host) and
    fall back to the session cookie. This spec is served by the app itself at /api/spec.

servers:
  - url: https://coffee.imajin.ai
    description: production
  - url: https://dev-coffee.imajin.ai
    description: dev
  - url: http://localhost:3000
    description: local

tags:
  - name: coffee

components:
  securitySchemes:
    cookieAuth:
      type: apiKey
      in: cookie
      name: imajin_session
      description: "Session cookie fallback (the shared kernel session, or this app's own Sign-in-with-Imajin session)"
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: >
        Scoped app token (preferred). Mint it from the signed-in user's kernel session with
        POST {kernel}/auth/api/tokens/app, using this app's host as `aud`. Tokens minted for
        any other host are rejected. No coffee-specific scopes are required.
    webhookSecret:
      type: http
      scheme: bearer
      description: "Bearer WEBHOOK_SECRET — internal payment callback from pay service"
  schemas:
    CoffeePage:
      type: object
      properties:
        id: { type: string }
        did: { type: string }
        handle: { type: string }
        title: { type: string }
        bio: { type: string }
        avatar: { type: string }
        avatarAssetId: { type: string, nullable: true, description: "Media service asset ID for the avatar" }
        theme: { type: object }
        paymentMethods:
          type: object
          properties:
            stripe:
              type: object
              properties:
                enabled: { type: boolean }
            solana:
              type: object
              properties:
                enabled: { type: boolean }
                address: { type: string }
        presets: { type: array, items: { type: integer }, description: "Preset amounts in cents" }
        fundDirections:
          type: array
          items:
            type: object
            properties:
              id: { type: string }
              label: { type: string }
              description: { type: string }
        allowCustomAmount: { type: boolean }
        allowMessages: { type: boolean }
        thankYouContent: { type: string, nullable: true }
        isPublic: { type: boolean }
        fairManifest: { type: object, nullable: true, description: ".fair manifest built when the page was created" }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
    Tip:
      type: object
      properties:
        id: { type: string }
        pageId: { type: string }
        fromDid: { type: string }
        fromName: { type: string }
        amount: { type: integer, description: "Amount in cents" }
        currency: { type: string }
        message: { type: string }
        fundDirection: { type: string, nullable: true }
        paymentMethod: { type: string, enum: [stripe, solana] }
        paymentId: { type: string }
        status: { type: string, enum: [pending, completed, failed] }
        createdAt: { type: string, format: date-time }
    Error:
      type: object
      required: [error]
      properties:
        error: { type: string }

paths:
  /api/health:
    get:
      operationId: getCoffeeHealth
      summary: Health check
      tags: [coffee]
      responses:
        "200":
          description: Service is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, enum: [ok, degraded], description: "degraded when migrations are pending" }
                  service: { type: string, example: coffee }
                  version: { type: string, example: "0.0.0" }
                  build: { type: string, example: dev }
                  timestamp: { type: string, format: date-time }
                  migrations:
                    type: object
                    properties:
                      migrationHead: { type: string, nullable: true }
                      appliedCount: { type: integer }
                      pendingCount: { type: integer, nullable: true, description: "null when unknown" }
                      error: { type: string }
                  claimed:
                    type: boolean
                    description: >
                      False in unclaimed boot mode (#2427) — this app has no
                      signing identity yet. See /claim.

  /api/claim:
    post:
      operationId: postClaim
      summary: Redeem this app's one-time claim code (operator-only, unclaimed boot mode)
      description: >
        Backs the operator-facing /claim page. Exchanges the one-time claim
        code from the kernel's /jin approval card for this app's signing
        key, persists the local bootstrap keystore, and hot-swaps the
        in-memory signing identity. Returns 404 once this app has already
        been claimed.
      tags: [coffee]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [claimCode]
              properties:
                claimCode: { type: string }
      responses:
        "200":
          description: Claim redeemed
          content:
            application/json:
              schema:
                type: object
                properties:
                  appDid: { type: string }
                  publicKey: { type: string, nullable: true }
        "400":
          description: Invalid or refused claim code
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "404":
          description: This app has already been claimed
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "409":
          description: The claim code was issued for a different app (response carries the expected and claimed app DIDs, both public identifiers)
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "429":
          description: Too many claim attempts
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /api/pages:
    post:
      operationId: createCoffeePage
      summary: Create a tip page — one per DID
      tags: [coffee]
      security:
        - cookieAuth: []
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [handle, title, paymentMethods]
              properties:
                handle: { type: string, description: "3-30 chars, lowercase alphanumeric and underscores" }
                title: { type: string }
                bio: { type: string }
                avatar: { type: string }
                avatarAssetId: { type: string, description: "Media service asset ID for the avatar" }
                theme: { type: object }
                paymentMethods: { type: object }
                presets: { type: array, items: { type: integer } }
                allowCustomAmount: { type: boolean }
                allowMessages: { type: boolean }
                thankYouContent: { type: string }
      responses:
        "201":
          description: Page created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CoffeePage" }
        "400":
          description: Validation error
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "401":
          description: Not authenticated
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "409":
          description: Page or handle already exists
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "500":
          description: Server error
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /api/pages/mine:
    get:
      operationId: getMyCoffeePage
      summary: Get authenticated user's tip page
      tags: [coffee]
      security:
        - cookieAuth: []
        - bearerAuth: []
      responses:
        "200":
          description: User's coffee page
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CoffeePage" }
        "401":
          description: Not authenticated
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "404":
          description: No page found
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "500":
          description: Server error
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /api/pages/{handle}:
    get:
      operationId: getCoffeePage
      summary: Get a public tip page by handle
      tags: [coffee]
      parameters:
        - name: handle
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Tip page
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CoffeePage" }
        "403":
          description: Page is private
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "404":
          description: Not found
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "500":
          description: Server error
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
    put:
      operationId: updateCoffeePage
      summary: Update tip page (owner only)
      tags: [coffee]
      security:
        - cookieAuth: []
        - bearerAuth: []
      parameters:
        - name: handle
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title: { type: string }
                bio: { type: string }
                avatar: { type: string }
                avatarAssetId: { type: string }
                theme: { type: object }
                paymentMethods: { type: object }
                presets: { type: array, items: { type: integer } }
                allowCustomAmount: { type: boolean }
                allowMessages: { type: boolean }
                isPublic: { type: boolean }
                thankYouContent: { type: string }
      responses:
        "200":
          description: Page updated
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CoffeePage" }
        "401":
          description: Not authenticated
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "403":
          description: Not the page owner
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "404":
          description: Not found
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "500":
          description: Server error
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
    delete:
      operationId: deleteCoffeePage
      summary: Delete tip page (owner only)
      tags: [coffee]
      security:
        - cookieAuth: []
        - bearerAuth: []
      parameters:
        - name: handle
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  deleted: { type: boolean }
        "401":
          description: Not authenticated
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "403":
          description: Not the page owner
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "404":
          description: Not found
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "500":
          description: Server error
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /api/tip:
    post:
      operationId: sendTip
      summary: Send a tip via Stripe Checkout (redirect) or Solana (address return)
      description: >
        Public. Anonymous callers may tip; a scoped app token or session attributes the tip to the caller's DID.


        A card tip is charged on the page owner's OWN Stripe account (their connected key; there is no
        Stripe Connect). An owner with no connected key gets 400 with `code: SELLER_NO_CARD_RAIL`; an
        owner whose Stripe account would not take the charge gets 502 with a `CARD_RAIL_*` code; a
        monthly (`recurring`) card tip gets 400 with `code: SUBSCRIPTION_NOT_SUPPORTED`. Each carries a
        plain tipper-facing `error`.
      tags: [coffee]
      security:
        - cookieAuth: []
        - bearerAuth: []
        - {}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [pageHandle, amount, paymentMethod]
              properties:
                pageHandle: { type: string }
                amount: { type: integer, description: "Amount in cents (minimum 100)" }
                currency: { type: string, default: USD }
                paymentMethod: { type: string, enum: [stripe, solana] }
                message: { type: string }
                fromName: { type: string }
                fundDirection: { type: string }
                recurring: { type: boolean }
      responses:
        "200":
          description: Tip initiated
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: Stripe — redirect URL
                    properties:
                      tipId: { type: string }
                      url: { type: string }
                      paymentMethod: { type: string, enum: [stripe] }
                  - type: object
                    description: Solana — destination address
                    properties:
                      tipId: { type: string }
                      solanaAddress: { type: string }
                      amount: { type: integer }
                      paymentMethod: { type: string, enum: [solana] }
        "400":
          description: >
            Validation error, payment method not enabled on the page, messages not allowed, the page
            owner has no card rail (`code: SELLER_NO_CARD_RAIL`), or a monthly card tip
            (`code: SUBSCRIPTION_NOT_SUPPORTED`)
          content:
            application/json:
              schema:
                type: object
                required: [error]
                properties:
                  error: { type: string }
                  code:
                    type: string
                    enum: [SELLER_NO_CARD_RAIL, SUBSCRIPTION_NOT_SUPPORTED]
                    description: "Present for a card-rail refusal; the form hides the card option on SELLER_NO_CARD_RAIL."
        "403":
          description: Page is private (not accepting tips)
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "404":
          description: Coffee page not found
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "429":
          description: Too many requests
          headers:
            Retry-After:
              schema: { type: integer }
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "502":
          description: The page owner's Stripe account could not start the charge (`code` is one of `CARD_RAIL_KEY_MISSING`, `CARD_RAIL_KEY_REJECTED`, `CARD_RAIL_UNAVAILABLE`, `CARD_RAIL_REQUEST_REJECTED`)
          content:
            application/json:
              schema:
                type: object
                required: [error, code]
                properties:
                  error: { type: string }
                  code: { type: string, example: CARD_RAIL_UNAVAILABLE }
        "500":
          description: Server error
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /api/checkout:
    post:
      operationId: coffeeCheckout
      summary: Create Stripe checkout for one-time or recurring support (no specific page)
      tags: [coffee]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [amount]
              properties:
                amount: { type: integer, description: "Amount in cents (minimum 500)" }
                recurring: { type: boolean }
                joinMailingList: { type: boolean }
      responses:
        "200":
          description: Checkout URL
          content:
            application/json:
              schema:
                type: object
                properties:
                  url: { type: string }
        "400":
          description: Amount below minimum
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "429":
          description: Too many requests
          headers:
            Retry-After:
              schema: { type: integer }
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "500":
          description: Failed to create checkout
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /api/tips/{did}:
    get:
      operationId: getTipsReceived
      summary: Get tips received by a DID (owner only)
      tags: [coffee]
      security:
        - cookieAuth: []
        - bearerAuth: []
      parameters:
        - name: did
          in: path
          required: true
          schema: { type: string }
        - name: limit
          in: query
          schema: { type: integer, default: 50, maximum: 100 }
        - name: offset
          in: query
          schema: { type: integer, default: 0 }
        - name: status
          in: query
          schema: { type: string, enum: [pending, completed, failed] }
      responses:
        "200":
          description: Tips and totals
          content:
            application/json:
              schema:
                type: object
                properties:
                  tips:
                    type: array
                    items: { $ref: "#/components/schemas/Tip" }
                  totals:
                    type: object
                    description: "Keyed by currency"
                    additionalProperties:
                      type: object
                      properties:
                        total: { type: number }
                        count: { type: integer }
                  pagination:
                    type: object
                    properties:
                      limit: { type: integer }
                      offset: { type: integer }
        "401":
          description: Not authenticated
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "403":
          description: Not authorized to view these tips
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "404":
          description: No coffee page found for this DID
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "500":
          description: Server error
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /api/webhook/payment:
    post:
      operationId: coffeePaymentWebhook
      summary: Receive payment callbacks from pay service
      description: >
        A tip the kernel already settled on the page owner's own Stripe account arrives with
        `rail: stripe-byo`: that callback is the settlement, so coffee completes the tip and marks it
        settled WITHOUT calling `/pay/api/settle` (the kernel refuses such a payment). A callback with
        no `rail` settles through `/pay/api/settle` as before.
      tags: [coffee]
      security:
        - webhookSecret: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                type: { type: string, enum: [payment.succeeded, payment.failed, checkout.completed] }
                tipId: { type: string }
                pageId: { type: string }
                pageHandle: { type: string }
                amount: { type: number }
                paymentId: { type: string }
                fromDid: { type: string }
                fromName: { type: string }
                fromEmail: { type: string }
                to_did: { type: string }
                message: { type: string }
                stripeSessionId: { type: string }
                rail:
                  type: string
                  enum: [stripe-byo]
                  description: "Set only when the payment was collected on the page owner's own Stripe account and the kernel has already settled it."
      responses:
        "200":
          description: Received
          content:
            application/json:
              schema:
                type: object
                properties:
                  received: { type: boolean }
        "401":
          description: Invalid or missing webhook secret
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "500":
          description: Webhook not configured (WEBHOOK_SECRET unset) or handler failed
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /api/me:
    get:
      operationId: getMe
      summary: Return the signed-in caller's DID (this app's own Sign-in-with-Imajin session)
      tags: [coffee]
      security:
        - cookieAuth: []
      responses:
        "200":
          description: The caller's DID
          content:
            application/json:
              schema:
                type: object
                properties:
                  did: { type: string }
        "401":
          description: Not authenticated
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /api/spec:
    get:
      operationId: getCoffeeSpec
      summary: Serve this OpenAPI spec
      tags: [coffee]
      responses:
        "200":
          description: OpenAPI YAML
          content:
            text/yaml:
              schema: { type: string }
